body, html {
    margin: 0;
    padding: 20px;

}

body{
	background-color: #dbd7cf;
	min-width: 250px;
}


div{
	display: block;
	width: 90%;
	margin: auto;
	background-color: #dbd7cf;
}



h1{
	width: 100%;
	height: 75px;
	text-align: center;
	color: rgb(129, 53, 63);
	font-family: 'times new roman', cursive !important;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 50px;
	background-color: #dbd7cf;
	padding: 30px 10px;
}



button {
	margin: 0;
	background: rgb(243, 244, 245);
	border: solid 1px;
	border-color: black;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	color: rgb(27, 90, 27);
	font-size: 16px;
	padding: 15px;
	width: 20%;
	font-family: 'times new roman', cursive !important;
	cursor: pointer;
	

}

button:hover {
	background-color: rgb(182, 163, 163);
}

input {
	margin-left: 10%;
	border: solid 1px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	width: 60%;
	padding: 15px;
	font-size: 16px;
	background-color: rgb(211, 211, 212);
	float: center;
  }

p {
	width: 100%;
	height: 20px;
	text-align: center;
	color: rgb(129, 53, 63);
	font-family: 'times new roman', cursive !important;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 20px;
	background-color: #dbd7cf;
	padding: 0;


}

ul {
	margin-top: 20px;
	padding: 0px;
 } 

ul li{
	cursor: pointer;
  position: static; 
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: rgb(182, 163, 163);
  font-size: 18px;
  width: 50%;
  margin: 10px auto;
  font-family: 'times new roman', cursive !important;
}

ul li:nth-child(even) {
	background: #f9f9f9;
  }

 .closeTask {
	float: right;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
  }

 .closeTask:hover {
	background-color: #815956;
	color: white;
  }
  
